@import "../assets/scss/helpers/variables";
@import "../assets/scss/helpers/mixins";

.btn {
  border: 0;
  cursor: pointer;
  display: block;
  font-size: $font-l;
  font-weight: 800;
  margin-bottom: 8px;
  min-width: 100%;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  width: fit-content;

  @include make-button;
  @include corner;
  @include create-theme-buttons($theme-pallete);
  @include create-sizes-buttons($btn-sizes);

  &:last-child {
    margin-bottom: 0;
  }

  &--arrow-left {
    display: flex;
    align-items: center;
    justify-content: center;

    &:after {
      content: "";
      background: url("../assets/images/svg/shevron-left.svg") no-repeat;
      display: block;
      width: 24px;
      height: 24px;
    }
  }
  @media ($tablet-screen) {
    min-width: 300px;
    max-width: 300px;
    margin: 8px auto;
  }
}

.btn-wrapper {
  margin-top: 88px;

  &--outer {
    margin: 5px auto 15px;
  }
}
