.character {
  color: $white;
  margin: 40px 0 10px;

  &__item {
    margin-bottom: 10px;
    filter: brightness(0.5);
    padding: 35px 20px 20px 25px;
    @include corner-border("left", 35px, $border-blue, $blue);

    &--right {
      @include corner-border("right", 35px, $border-blue, $blue);
    }

    &--current {
      filter: none;
    }

    &--disabled {
      filter: none;
    }
  }

  &__disabled {
    align-items: center;
    background: $char-shadow;
    justify-content: center;
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    font-family: "JetBrains Mono";
    font-weight: bold;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: $color-disabled;
    text-shadow: 0px 0px 2px $color-shadow-disabled;
  }

  &__img {
    position: absolute;
    right: 0;
    bottom: 0;
    max-height: calc(100% - 10px);
    z-index: 0;
  }

  &__title {
    margin-bottom: 15px;
  }

  &__descr {
    font-size: 14px;
    line-height: 130%;
    margin-right: 100px;
  }

  &__checked {
    background: url("../assets/images/svg/check.svg") no-repeat;
    display: block;
    margin: 10px 0 0 auto;
    position: relative;
    height: 36px;
    width: 36px;
  }
}
