.episodes {
  color: $white;  
  margin: 25px 0 10px;
  width: 100%;
  counter-reset: section;
  
  &__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
  }

  &__list{
    font-size: 24px;
    line-height: 115%;
  }

  &__item {    
    margin-bottom: 8px;
    min-height: 120px;
    padding: 12px 16px;
    @include corner-border('left', 10px, transparent);
    
    &--right {
      @include corner-border('right', 10px, transparent);
    }
    
    &::after{
      content: '';
      background: linear-gradient(90deg, $blue 19.78%, $blue 19.79%, rgba(46, 124, 183, 0) 82.4%);
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 5;
    }

    .episodes__arrow,
    .episodes__title,  
    .episodes__counter{
      opacity: .5;
    }  
    
    &--disabled {
      background: $episodes-disabled;

      &::after,
      &::before {
        background: transparent;    
      } 

      .episodes__arrow,
      .episodes__title,  
      .episodes__counter{
        opacity: .3;
      }     
    }

    &--enabled {
      .episodes__arrow,
      .episodes__title,  
      .episodes__counter{
        opacity: 1;
      }  
    }

    &::before{
      counter-increment: episodes;
      content: counters(episodes);
    }

  }

  &__img {
    position: absolute;
    left: 0;
    bottom: 0; 
    z-index: 0;
    width: 100%;
  }

  &__title{
    font-family: 'JetBrains Mono';
    font-weight: 500;
    font-size: 24px;
    line-height: 105%;
    position: relative;
    max-width: 50%;
    z-index: 10;
  }

  &__counter {
    background: $color-increment;
    height: 37px;
    left: 0;
    bottom: 0;
    width: 37px;
    @include corner-border('left', 10px, $color-increment, $color-increment);
    
    &--right {
      @include corner-border('right');;
    }
    position: absolute;
    opacity: 1;
    
    &:before {
      align-items: center;
      counter-increment: section; 
      content: counter(section);
      display: flex;
      justify-content: center;
      font-weight: bold;
      font-size: 18px;
      line-height: 115%;
    }
  }

  &__shevron {
    background: #2E7CB7;
    border: 6px solid rgba(255, 255, 255, 0.3);
    cursor: pointer;
    font-weight: 500;
    font-size: 12px;
    line-height: 115%;
    letter-spacing: -0.015em;
    text-transform: uppercase;
    padding: 2px 10px;
    position: absolute;
    top: 8px;
    right: 8px;
    width: fit-content;
    z-index: 20; 
    
    &--next {
      border: none;
      background: $red;
      top: 16px;
      right: 16px;
    }
    
    &--done {
      border: none;
      top: 16px;
      right: 16px;
    }
  }

  &__arrow { 
    background: url('../assets/images/svg/shevron-left.svg') no-repeat;
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    z-index: 20;
    right: 16px;
    bottom: 16px;  
  }
}