.info {
  color: $white;
  text-align: center;
  box-shadow: 0 0 4px rgba(4, 226, 252, 0.65);
  padding: 0 27px;
  border: 2px solid #dcffff;
  background-color: rgba(18, 29, 38, 0.9);
  position: absolute;
  bottom: 55px;
  left: 21px;
  top: 75px;
  right: 21px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__close {
    background: url('../assets/images/svg/close.svg') no-repeat;
    height: 45px;
    position: absolute;
    top: -58px;
    right: -6px;
    width: 45px;
  }

  &__body {
    margin: 17px 0 24px;
    padding: 0 25px;
  }

  &__footer {
    margin-top: 56px;

    &-social-block {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 16px;
    }

    &-social-item {
      height: 32px;
      width: 32px;
      margin: 0 12px;

      &--vk {
        background-image: url('../assets/images/svg/vk.svg');
      }

      &--fb {
        background-image: url('../assets/images/svg/fb.svg');
      }

      &--insta {
        background-image: url('../assets/images/svg/insta.svg');
      }
    }

  }

  &__drop-icon {
    background: url('../assets/images/svg/shevron-left.svg') no-repeat;
    width: 24px;
    height: 24px;
    position: absolute;
    right: 0;
    top: calc(.5em * 1.15 + 12px);
  }
  
  &__settings{
    flex: 1 1 auto;
    max-height: calc(100vh - 390px);
    overflow-y: auto;

    &-item {
      font-weight: bold;
      font-size: 24px;
      line-height: 115%; 
      
      &--drop {  
          margin-top: 24px;      
          border-top: 1px solid rgba(247, 247, 252, 0.22);
          padding-top: 24px; 
          position: relative; 

          &.is-open{

            .info__settings-drop {
              display: block;
            }

            .info__drop-icon {
              transform: rotate(90deg);
            }
          
          }
      }

      &--switch {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: 18px;
      }
    }

    &-drop {
      display: none;
      margin-top: 12px;

      &-item {
        margin-bottom: 8px;
      }
    }

    &-switch {
      width: 64px;
      height: 32px;
      background-color: $blue;
      position: relative;
      border-radius: 32px;
      cursor: pointer;

      &::after {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        width: 32px;
        height: 32px;
        background: $switch-color;
        background-clip: content-box;
        border: 2px solid transparent;
        box-sizing: border-box;
        border-radius: 50%;
        transition: left .5s, right .5s;
      }

      &--disabled {
        background-color: $main-grey;

        &::after {
          right: auto;
          left: 0;          
        }
      }
    }

    &-drop-item{
      font-size: $font-m;
      font-weight: normal;
      line-height: 135%;
    }
  }

  &--settings{
    text-align: left;
    padding: 35px 25px;

    .info__header{      
        font-weight: 600;
        font-size: $font-xxxl;
        line-height: 110%;  
        margin-bottom: 40px;  
    }

    .info__footer {
      margin-top: 0;
    }
  }
}