.loader{
  color: $blue;
  font-family: 'JetBrains Mono';
  font-weight: bold;
  line-height: 115%; 
  margin: 43px 0; 
  text-align: center;
  width: 100%;
}

.main {
  
  .loader {
    margin: 75px 0 47px;
  }
}