@import "../assets/scss/helpers/_mixins.scss";

.messages {
  color: $white;
  margin: 10px auto;
  width: 100%;

  &--top {
    padding-top: 73px;
  }

  &--middle {
    padding-top: 231px;
  }

  &--bottom-middle {
    padding-top: 335px;
  }

  &--bottom {
    margin-top: auto;
  }

  &__h1 {
    display: block;
    font-weight: bold;
    font-size: 18px;
    line-height: 115%;
    margin-bottom: 15px;
  }

  &__h2 {
    display: block;
    font-weight: 600;
    font-size: 32px;
    line-height: 110%;
    margin-bottom: 5px;
  }

  &__corner-shadow {
    filter: drop-shadow(0 0 4px rgba(4, 226, 252, 0.65));
  }

  &__header {
    margin-bottom: 8px;
    padding: 10px 25px;
    width: fit-content;
    font-family: "JetBrains Mono", monospace;
    font-weight: bold;
    font-size: $font-s;
    line-height: 18px;
    display: flex;
    align-items: center;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #e9f3ff;
    text-shadow: 0px 0px 2px #04e2fc;
    @include corner-border;

    &--right {
      margin-left: auto;
      @include corner-border("right");
    }
  }

  &__body {
    margin-bottom: 0;
    padding: 35px 30px 35px 25px;
    @include corner-border("left", 35px);

    &--right {
      @include corner-border("right", 35px);
    }

    &--main {
      .h1 {
        font-size: 32px;
      }
    }
  }

  &__descr {
    overflow-y: auto;
    max-height: calc(100vh - 455px);
    position: relative;

    p {
      margin-bottom: 1.5em;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &:after {
      content: "";
      background: linear-gradient(to bottom, transparent 0%, $black 80%);
      display: block;
      position: sticky;
      bottom: -5px;
      left: 0;
      height: 50px;
      width: 100%;
    }
  }

  &__textsubheading {
    display: block;
    font-size: 24px;
    font-weight: bold;
    line-height: 115%;
    margin-bottom: 15px;
  }

  &__textheading {
    display: block;
    font-size: 40px;
    font-weight: 600;
    line-height: 110%;
    margin-bottom: 20px;
  }

  &__results {
    margin-top: 15px;

    &-item {
      align-items: center;
      display: flex;
      font-size: $font-m;
      line-height: 135%;
      margin-bottom: 18px;
      padding-left: 27px;
      position: relative;

      &:last-child {
        margin-bottom: 0;
      }

      &:before {
        content: "";
        display: block;
        height: 13px;
        margin-right: 15px;
        position: absolute;
        top: calc((1.35em / 2) - 7px);
        left: 0;
        width: 13px;
      }

      &--fail {
        &:before {
          background: url("../assets/images/svg/star-grey.svg") no-repeat;
        }
      }

      &--success {
        &:before {
          background: url("../assets/images/svg/star-gold.svg") no-repeat;
        }
      }
    }
  }

  &__btn {
    padding: 12px 10px;
    text-align: left;

    &-block {
      margin-top: 15px;
    }

    &--advertising {
      display: flex;
      align-items: center;

      &:after {
        background: url("../assets/images/svg/advertising.svg") no-repeat;
        content: "";
        display: block;
        height: 32px;
        width: 32px;
      }
    }
  }

  .h1 {
    text-shadow: 0 0 2px $color-shadow-disabled;
  }

  .h1,
  .h2 {
    text-align: center;
  }

  .h2 {
    margin-bottom: 15px;
  }
}

.messages--small-padding .messages__body {
  padding-bottom: 25px;
}

.main {
  .messages {
    width: 100%;
  }
}
