.warning {
  color: $white;
  position: absolute;
  top: 15px;
  width: 300px;
  left: calc(50% - 150px);
  text-align: center;

  &__icon {
    background: url("../assets/images/svg/attention.svg") no-repeat;
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
  }

  &__note {
    background: $text-background;
    padding: 8px;
  }
}
