.header {
  padding-top: 15px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;
  }

  &__back {
    background: url("../assets/images/svg/back.svg") no-repeat;
    background-size: cover;
    height: 47px;
    width: 47px;
  }

  &__settings {
    background: url("../assets/images/svg/settings.svg") no-repeat;
    background-size: cover;
    height: 45px;
    width: 45px;
  }

  &--escape {
    .header__back {
      background-image: url("../assets/images/svg/escape.svg");
    }
  }
}

.main {
  .header {
    opacity: 0;
  }
}
