@mixin corner($type:'left', $corner: 10px) {
  @if($type == 'right'){    
    clip-path: polygon(#{$corner} 0%, 100% 0, 100% calc(100% - #{$corner}), calc(100% - #{$corner}) 100%, 0 100%, 0 #{$corner});
  } @else {
    clip-path: polygon(0 0, calc(100% - #{$corner}) 0, 100% #{$corner}, 100% 100%, #{$corner} 100%, 0 calc(100% - #{$corner}));
  }
}

@mixin corner-border($type:'left', $corner: 10px, $border-color: #dcffff, $background: $black){
  background-color: $border-color;
  position: relative;
  opacity: .9;
  z-index: 10;
  @if ($corner != 0){
    @include corner($type, $corner);
  }

  &:before {
    background-color: $background;
    content: "";
    display: block;
    height: calc(100% - 4px); 
    left: 2px;
    position: absolute;
    top: 2px;
    width: calc(100% - 4px);
    z-index: -1;
    @if ($corner != 0){
      @include corner($type, $corner);
    }
  }
}

@mixin make-button ($b-color: $blue, $color: $white, $radius: 0) {
  background-color: $b-color;
  border-radius: $radius;
  color: $color;
}

@mixin create-theme-buttons($theme-pallete) {
  @each $type-btn, $value in $theme-pallete {

    &--#{$type-btn} {
      background-color: $value;
      @if($type-btn == 'light') {
        color: $red;
      }
    }
  }
}

@mixin create-sizes-buttons($btn-sizes) {

  @each $size, $value in $btn-sizes {

    &--#{$size} {
      font-size: $value;
    }
  }
}
