// переменные цветов

$black: #121d26;
$text-color: #2e2e2e;
$true-black: #000;
$color-shadow: rgba(0, 0, 0, 0.08);
$char-shadow: rgba(0, 0, 0, 0.5);
$white: #fff;
$red: #ff6666;
$blue: #2e7cb7;
$bright-blue: #174161;
$border-blue: #d8ffff;
$color-green: #27b96b;
$text-background: rgba(18, 29, 38, 0.5);
$color-disabled: #e9f3ff;
$color-shadow-disabled: #04e2fc;
$color-increment: #7abcef;
$episodes-disabled: #366e99;
$switch-color: #f7f7fc;
$main-grey: #577287;

// переменные шрифтов

$font-xs: 12px;
$font-s: 14px;
$font-m: 16px;
$font-l: 18px;
$font-xl: 22px;
$font-xxl: 24px;
$font-xxxl: 40px;
$rem: $font-m;

// переменные медиазапросов

$tablet-screen: "min-width: 550px";

// кнопки

$theme-pallete: (
  primary: $black,
  success: $color-green,
  dark: $bright-blue,
  danger: $red,
);

$btn-sizes: (
  small: $font-s,
  big: $font-xxl,
);
