.all-resources
  .resources-gallery
    margin: 20px 0
    display: grid
    grid-template-columns: 1fr 1fr 1fr 1fr
    grid-gap: 20px
    .resources-item
      .ant-card-cover
        img
          object-fit: contain
          height: 200px
      &-meta
        max-width: 200px
