.node-scene
  background: #fff
  border-radius: 10px
  width: 200px
  box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%)
  &:hover
    box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%)
  &-body
    position: relative
    &-buttons
      display: flex
      padding: 5px
      justify-content: space-between
      &-group
        display: flex
        gap: 5px
    &-images
      position: relative
    &-background
      width: 200px
      height: 100px
      &-image
        width: 100%
        height: 100%
        object-fit: cover
    &-person
      height: 100px
      position: absolute
      top: 0
      &-image
        width: 100%
        height: 100%
        object-fit: contain
      &.right
        right: 0
      &.left
        left: 0
    &-text
      padding: 5px
    &-links
      position: relative
      .ant-list-header
        padding: 6px
      &-link
        position: relative
        min-height: 75px
        padding: 6px 6px
  .handler
    right: -4px
    width: 25px
    height: 25px
    z-index: 1
    color: #1890ff
    display: flex
    align-items: center
    justify-content: center
    box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px 0 rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%)
    transition: .3s
    &-top
      background-color: #fff
      top: -10px
      width: 30px
      &::after
        display: block
        content: ''
        padding: 2px
        border: solid black
        border-width: 0 3px 3px 0
        display: inline-block
        transform: rotate(45deg)
        -webkit-transform: rotate(45deg)
      &::before
        display: block
        content: ''
        position: absolute
        top: 9px
        width: 50px
        background-color: #fff
        height: 30px
      &:hover
        height: 30px
        width: 30px
    &-button
      height: 30px
      background: #fff
      right: -9px
      &::after
        display: block
        content: ''
        padding: 2px
        border: solid black
        border-width: 0 3px 3px 0
        display: inline-block
        transform: rotate(-45deg)
        -webkit-transform: rotate(-45deg)
      &::before
        content: ''
        display: block
        width: 40px
        height: 60px
        position: absolute
        background: #fff
        left: -25px
