.scene-form
  .form-image-wrapper
    display: flex
    flex-direction: column
    justify-content: center
    gap: 15px
  .form-image
    max-height: 200px
    object-fit: contain
  .form-image-buttons
    display: flex
    justify-content: space-between
  .ant-space-item
    width: 100%
  .form-link
    display: flex
    justify-content: space-between
    margin-bottom: 20px
    gap: 10px
    &-inputs
      display: flex
      flex-direction: column
      gap: 10px
      width: 100%
      .ant-form-item
        margin: 0
