@font-face {
  font-family: "Inter";
  font-weight: normal;
  src: url("../../fonts/Inter/static/Inter-Regular.woff2") format("woff2"),
    url("../../fonts/Inter/static/Inter-Regular.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: bold;
  src: url("../../fonts/Inter/static/Inter-Bold.woff2") format("woff2"),
    url("../../fonts/Inter/static/Inter-Bold.woff") format("woff");
}

@font-face {
  font-family: "Inter";
  font-weight: 600;
  src: url("../../fonts/Inter/static/Inter-SemiBold.woff2") format("woff2"),
    url("../../fonts/Inter/static/Inter-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: normal;
  src: url("../../fonts/JetBrains_Mono/static/JetBrainsMono-Regular.woff2")
      format("woff2"),
    url("../../fonts/JetBrains_Mono/static/JetBrainsMono-Regular.woff")
      format("woff");
}

@font-face {
  font-family: "JetBrains Mono";
  font-weight: bold;
  src: url("../../fonts/JetBrains_Mono/static/JetBrainsMono-Bold.woff2")
      format("woff2"),
    url("../../fonts/JetBrains_Mono/static/JetBrainsMono-Bold.woff")
      format("woff");
}
