* {
  outline: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  color: $text-color;
  font-family: "Inter", sans-serif;
  font-size: $rem;
  line-height: 135%;
}

input,
button,
select,
div {
  outline: none;
  line-height: 135%;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*::-webkit-input-placeholder {
  color: #666;
  opacity: 1;
}

*:-moz-placeholder {
  color: #666;
  opacity: 1;
}

*::-moz-placeholder {
  color: #666;
  opacity: 1;
}

*:-ms-input-placeholder {
  color: #666;
  opacity: 1;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
h6,
ul,
ol,
p {
  margin: 0;
  padding: 0;
}

h1,
.h1 {
  display: block;
  font-weight: 600;
  font-size: $font-xxxl;
  line-height: 110%;
}

h2,
.h2 {
  display: block;
  font-weight: bold;
  font-size: $font-xxl;
  line-height: 115%;
}

h3,
.h3 {
  display: block;
  font-family: "JetBrains Mono";
  font-weight: bold;
  font-size: $font-s;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.subtitle {
  color: $true-black;
  font-weight: 500;
  font-size: $font-xs;
  line-height: 115%;
  display: flex;
  align-items: center;
  letter-spacing: -0.015em;
  text-transform: uppercase;
}

body {
  background: url("../../images/universe.png") center no-repeat;
  background-size: cover;
  display: flex;
  min-width: 320px;
  position: relative;
  flex-direction: column;
  font-style: normal;
  font-weight: normal;
  margin: 0;
  padding: 0;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  min-height: 100vh;

  &.galaxy {
    background-image: url("../../images/galaxy.png");
  }
  &.dark {
    background: $black;
  }
}
main {
  flex: 1 1 auto;
}
.content-bottom {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &--shift-up {
    margin-bottom: 90px;
  }
}
.container {
  flex: 0 0 auto;
  padding: 0 21px;
  width: 100%;
}
ul,
ol {
  list-style: none;
}

strong,
b {
  font-weight: 600;
}

img {
  max-width: 100%;
}
