.page-quests
  display: flex
  gap: 20px
  flex-wrap: wrap
  .quest-card
    height: 320px
    width: 200px
    display: flex
    flex-direction: column
    justify-content: space-between
    &-new
      font-size: 40px
      display: flex
      align-items: center
      justify-content: center
    .ant-card-body
