.page-login
  display: flex
  flex-direction: column
  justify-content: center
  .login
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: auto
    padding: 60px
    border-radius: 10px
    box-shadow: 0 1px 2px -2px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 12%), 0 5px 12px 4px rgb(0 0 0 / 9%)
  .title
    font-size: 40px
    text-align: center
